* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  transition: 0.4s;
}

/* THEMES */
body.dark {
  background: #0f172a;
  color: white;
}

body.light {
  background: #f1f5f9;
  color: black;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #1e293b;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #38bdf8;
  border-radius: 8px;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* API */
.api {
  text-align: center;
  padding: 40px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .hero h1 {
    font-size: 28px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}